<div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User list</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @users.each do |user| %>
            <li>
              <% if user.online? %>
                <%= image_tag('online.png') %>
              <% else %>
                <%= image_tag('offline.png') %>
              <% end %>
              <%= image_tag user.avatar, class: "user_avatar img-circle" %>
              <%= link_to user.email, conversations_path(user_id: user), :data => { :'id' => user.id }, class: "select_user_conv", remote: true, method: :post %>
            </li></br>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
